body {
        background-color: #9400D3;
        color: white;
        margin: 60px;
        font-family: 'Inter', sans-serif;
    }
    
    .titulo-principal{
        padding-right: 80px;
        text-align: center;
        color: #FF1493;
        font-family: 'Inter', sans-serif;
    }

    .tecno{
         width: 18%;
        padding-left: 20px;
    }

    .integrantes2{
        width: 18%;
        padding-left: 950px;
    }

    .identidade2{
        padding-left: 980px;
    }
    
    .principal{
        padding: 60px;
        text-align: center
    }

    .matéria{
        color: black;
    }

    .integrantes1{
        width: 18%;
        padding-left: 20px;
    }

    .identidade1{
        padding-left: 40px;
    }

    .drone{
        width: 18%;
        padding-left: 950px;
    }   
    
    .titulo{
        padding-left: 1000px;
        text-align: left;
        padding-top: 20px;
    }

    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
    }

    .logotipo{
        width: 8%;
        padding-left: 40px;
}