body {
    background-color: #9400D3;
        color: white;
        margin: 60px;
    }

    .tecnologia{
        width: 18%;
        padding-right: 1000px;
    }
    
    .integrantes2{
        width: 18%;
        padding-left: 950px;
    }


    .principal{
        padding: 60px;
        text-align: center;
    }

    .integrantes1{
        width: 18%;
    }

    .drone{
        width: 18%;
        padding-left: 950px;
    }
    
    .titulo-principal{
        padding-right: 80px;
        text-align: center;
        color: #FF1493;
    }

    p{
       color: black;
    }
    
    .titulo{
        padding-right: 130px;
        text-align: right;
    }
    
    em strong{
    
    }
    
    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
    }