body {
    background-color: #9400D3;
        color: white;
        font-family: 'Inter', sans-serif;
    }

    .principal{
        text-align: center;
    }

    .titulo-principal{
        text-align: center;
        color: #FF1493;
        font-family: 'Inter', sans-serif;
    }

    .tecno{
        width: 14%;
        padding-left: 75%;
    }   

     .projeto3{
      width:  25%;
      padding-left: 8%; 
     }

     .integrantes{
        width:  18%;
        padding-left: 65%; 
       }

    .online{
        padding-left: 8%;
    }

    .integrante{
        padding-left: 70%;
    }

    .titulo{
        padding-right: 150%;
        text-align: right;
    }

    ul {
     display: inline-block;
     vertical-align: top;
     width: 20%;
     margin-left: 80%;
    }

    .logotipo{
        width: 9%;
        padding-left: 40px;
    }
 