body {
    background-color: #9400D3;
        color: white;
    }
    
    #banner{
        width: 100%;
    }
    
    .principal{
        padding: 30px;
    }
    
    .titulo-principal{
        padding-right: 80px;
        text-align: center;
        color: black;
        
    p{
        text-align: left;
    }
    
    #missao{
        font-size: 
    }
    
    .titulo{
        padding-right: 250px;
        text-align: right;
    }
    
    em strong{
    
    }
    
    .itens {
        font-size: italic;
    }
    
    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-left: 80%;
    }
    
    .imagembeneficios {
        width: 100%;
    
    }