body {
    background-color: #9400D3;
        color: white;
    }
    
    .principal{
        padding: 60px;
    }
    
    .titulo-principal{
        padding-right: 80px;
        text-align: center;
        color: #FF1493;
    }

    p{
        text-align: left;
    }
    
    #missao{
        
    }
    
    .titulo{
        text-align: center;
    }
    
    em strong{
    
    }
    
    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-left: 200% ;
    }

    .imagembeneficios {
        width: 100%;
    
    }

